.hero-home {
  background-image: url(../images+icons/heroImg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  align-items: center;
}

.hero-content-div {
  background-color: rgba(255, 255, 255, 0.15);
}

.home-hero-heading {
  margin: 0;
  text-shadow: 0.5px 0.5px white, -0.5px -0.5px white;
  margin-left: 6px;
}

.home-hero-subhead {
  margin: 0;
  margin-left: 6px;
  text-shadow: 1px 1px white, -1px -1px white;
  margin-top: 8px;
  font-weight: 600;
}

.home-hero-cta {
  background-color: black;
  color: white;
  font-weight: bold;
  margin-left: 6px;
  border-radius: 2px;
  border: 2px solid white;
  cursor: pointer;
  outline: 3px solid black;
  transition: all 0.15s;
}

.home-hero-cta:hover {
  background-color: rgb(51, 51, 51);
  outline-color: rgb(51, 51, 51);
}

@media screen and (min-width: 270px) {
  .hero-home {
    height: 450px;
  }

  .hero-content-div {
    margin-top: 74px;
  }

  .home-hero-heading {
    font-size: 28px;
  }

  .home-hero-subhead {
    font-size: 18px;
    margin-bottom: 24px;
  }

  .home-hero-cta {
    width: 175px;
    height: 32px;
    font-size: 16px;
  }
}

@media screen and (min-width: 500px) {
  .home-hero-heading {
    font-size: 38px;
    max-width: 534px;
  }

  .home-hero-subhead {
    font-size: 22px;
    max-width: 534px;
  }

  .home-hero-cta {
    width: 205px;
    height: 36px;
  }
}

@media screen and (min-width: 630px) {
  .hero-content-div {
    margin-left: 32px;
  }
}

@media screen and (min-width: 900px) {
  .hero-home {
    height: 550px;
  }

  .hero-content-div {
    margin-left: 54px;
    margin-bottom: 32px;
    border-radius: 4px;
  }

  .home-hero-heading {
    font-size: 54px;
    margin-bottom: 18px;
    width: 850px;
  }

  .home-hero-subhead {
    width: 400px;
    font-size: 20px;
    margin-bottom: 32px;
  }

  .home-hero-cta {
    margin-top: 24px;
    font-size: 20px;
    width: 255px;
    height: 38px;
  }
}