.leave-review-container {
  border: 2px solid black;
  border-radius: 4px;
  margin: auto;
  display: grid;
  justify-content: center;
}

.leaving-review-title {
  text-align: center;
}

.label-sect {
  margin: auto;
  margin-bottom: 5px;
}

.leave-rating-stars {
  display: flex;
  margin: auto;
}

.reviewing-star-img {
  cursor: pointer;
}

.reviewing-star {
  margin: 0;
  cursor: pointer;
}

.input-field {
  margin: auto;
  border-radius: 2px;
  border: 1px solid black;
  text-indent: 8px;
}

.max-characters {
  color: red;
  margin: auto;
  margin-top: 5px;
  text-align: end;
}

.leave-review-textarea {
  line-height: 18px;
  resize: none;
  margin: auto;
  border-radius: 2px;
  border: 1px solid black;
  padding: 8px;
}

.submit-review-div {
  display: flex;
  justify-content: end;
  margin: auto;
}

.leave-review-btn {
  color: white;
  background-color: black;
  border-radius: 2px;
  font-weight: bold;
  border: 2px solid white;
  transition: all 0.15s;
}

.leave-review-btn:hover {
  background-color: white;
  border-color: black;
  color: black;
}

@media screen and (min-width: 270px) {
  .leave-review-container {
    width: 90vw;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 6px;
  }

  .leaving-review-title {
    font-size: 24px;
  }

  .label-sect {
    width: calc(85% + 12px);
    margin-top: 24px;
  }

  .reviewing-star-img {
    height: 25px;
    width: 30px;
  }

  .leave-rating-stars {
    width: calc(85% + 12px);
  }

  .input-field {
    width: calc(85% + 12px);
    height: 28px;
    font-size: 14px;
    text-indent: 6px;
  }

  .leave-review-textarea {
    font-size: 14px;
    width: 85%;
  }

  .submit-review-div {
    width: calc(85% + 12px);
  }

  .leave-review-btn {
    height: 36px;
    margin-top: 25px;
    width: 125px;
    font-size: 16px;
  }
}

@media screen and (min-width: 375px) {
  .leaving-review-title {
    font-size: 32px;
  }

  .reviewing-star-img {
    height: 35px;
    width: 40px;
  }

  .input-field {
    font-size: 16px;
  }

  .leave-review-textarea {
    font-size: 16px;
  }

  .leave-review-btn {
    width: 175px;
    height: 42px;
  }
}

@media screen and (min-width: 675px) {
  .leave-review-container {
    width: 50vw;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 12px;
  }

  .leaving-review-title {
    font-size: 38px;
  }

  .label-sect {
    width: calc(75% + 16px);
    margin-top: 50px;
  }

  .leave-rating-stars {
    width: calc(75% + 16px);
    margin-bottom: 25px;
  }

  .reviewing-star-img {
    height: 50px;
    width: 60px;
  }

  .reviewing-star {
    font-size: 34px;
  }

  .input-field {
    width: calc(75% + 16px);
    height: 32px;
    font-size: 16px;
  }

  .max-characters {
    font-size: 12px;
    width: calc(75% + 16px);
  }

  .leave-review-textarea {
    font-size: 16px;
    width: 75%;
  }

  .submit-review-div {
    width: calc(75% + 16px);
  }

  .leave-review-btn {
    height: 42px;
    margin-top: 25px;
    width: 175px;
    font-size: 16px;
  }
}