.slider-container {
  display: inline-flex;
  overflow: hidden;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
  cursor: grab;
  align-items: center;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.slide > img{
  transition: transform 0.3s ease-in-out;
}

.slider-nav-buttons {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow1, .arrow2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.15s;
}

.arrow1:hover, .arrow2:hover {
  color: white;
  background-color: black;
}

.arrow1 {
  position: absolute;
}

.arrow2 {
  position: absolute;
}

.slider-dot, .active-dot {
  margin: 0;
  border: none;
  border-radius: 100px;
  background-color: darkgray;
}

.active-dot {
  background-color: black;
}

.slider-dot:first-child {
  margin-left: 0;
}

.product-heart-container {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: auto;
}

.product-heart {
  cursor: pointer;
}

#black {
  background-color: black;
}

#silver {
  background-color: silver;
}

#red {
  background-color: red;
}

.product-top-rating {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.star-rating-div {
  display: flex;
  width: 164.8125px;
  position: relative;
  border: 1.5px solid gold;
  border-radius: 4px;
}

.cover-stars-div {
  height: 100%;
  position: absolute;
  right: 0;
  background-color: white;
  border-radius: 4px;
  width: 0px;
}

.product-review-star {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 24px;
}

.product-page-reviews {
  margin-left: 8px;
  margin-bottom: 10px;
}

.product-page-price {
  font-weight: 500;
  margin-top: 10px;
}

.product-page-description {
  margin-top: 38px;
}

.product-page-name {
  font-weight: 600;
  margin-bottom: 0;
}

.product-pick-color {
  margin-top: 42px;
}

.pick-color-title, .product-size-title {
  font-weight: bold;
  margin: 0;
  margin-bottom: 12px;
}

.product-colors {
  display: flex;
  justify-content: space-between;
}

.empty-product-color-div {
  border-radius: 120px;
  cursor: pointer;
  transition: all 0s;
}

.empty-product-color-div:hover {
  outline: 2px solid black;
  outline-offset: 2px;
}

.color-div-selected {
  outline: 2px solid black;
  outline-offset: 2px;
}

.product-pick-size {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.product-size {
  border-radius: 2px;
  margin-bottom: 24px;
  border: 2px solid black;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.20);
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
  cursor: pointer;
  transition: all 0.15s;
}

.product-size:hover, .product-size-selected {
  background-color: black;
  color: white;
}

.cart-btn-container {
  position: relative;
}

.add-to-cart {
  background-color: black;
  border: none;
  border-radius: 2px;
  margin-bottom: 24px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 42px;
  border: 2px solid black;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.15s;
  overflow: hidden;
}

.add-to-cart:hover {
  background-color: transparent;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.item-added-p {
  position: absolute;
  text-align: center;
  opacity: 0;
}

@media screen and (min-width: 270px) {
  .slide {
    height: 200px;
  }

  .slide > img {
    max-height: 200px;
    max-width: 250px;
  }

  .arrow1, .arrow2 {
    width: 40px;
    height: 40px;
    font-size: 34px;
  }

  .arrow1 {
    left: 0;
    top: 0px;
  }

  .arrow2 {
    right: 0;
    top: 0px;
  }

  .slider-nav-buttons {
    width: 250px;
  }

  .slider-dot, .active-dot {
    height: 8px;
    width: 8px;
    margin-left: 15px;
    margin-bottom: 18px;
  }

  .active-dot {
    height: 9.25px;
    width: 9.25px;
  }

  .product-heart-container {
    width: 90vw;
    margin-top: 25px;
  }

  .product-heart {
    width: 35px;
    height: 35px;
  }

  .product-display-info {
    display: grid;
    margin-left: 16px;
  }

  .product-top-rating {
    display: grid;
  }

  .product-info-left {
    width: 250px;
  }

  .product-page-name {
    font-size: 24px;
    width: 250px;
  }

  .product-page-reviews {
    font-size: 12px;
    margin: 0;
    margin-top: 4px;
  }

  .product-page-price {
    font-size: 18px;
  }

  .product-page-description {
    width: 250px;
    font-size: 14px;
  }

  .product-pick-color {
    width: 225px;
    height: 125px;
    margin-left: 16px;
  }

  .pick-color-title, .product-size-title {
    font-size: 18px;
  }

  .empty-product-color-div {
    height: 50px;
    width: 50px;
  }

  .product-size-title {
    margin-top: 54px;
    margin-left: 16px;
  }

  .product-pick-size {
    margin-left: 16px;
  }

  .product-size {
    height: 30px;
    width: 60px;
    font-size: 15px;
  }

  .cart-btn-container {
    margin-left: 16px;
    width: 250px;
  }

  .add-to-cart {
    height: 40px;
    width: 200px;
    font-size: 18px;
  }

  .item-added-p {
    width: 150px;
    text-align: center;
    top: -25px;
    left: calc(50% - 100px);
  }

  @keyframes addCartClicked {
    0% {
      background-color: black;
      position: absolute;
      border: none;
      z-index: -1;
      color: white;
      border-radius: 200px;
      width: 5px;
      height: 5px;
      opacity: 0.25;
    }
  
    100% {
      background-color: black;
      position: absolute;
      border: none;
      z-index: -1;
      color: white;
      border-radius: 200px;
      width: 220px;
      height: 220px;
      opacity: 1;
    }
  }
  
  @keyframes showItemAdded {
    0% {
      opacity: 0;
      top: -25;
    }
  
    100% {
      opacity: 1;
      top: -45px;
    }
  }
}

@media screen and (min-width: 320px) {
  .product-page-name {
    font-size: 26px;
    width: 100%;
  }

  .product-info-left {
    width: 95vw;
    margin-right: 4px;
  }

  .product-top-rating {
    margin-top: 14px;
  }

  .product-page-price {
    font-size: 22px;
  }

  .product-page-description {
    width: 95%;
    font-size: 15px;
  }

  .pick-color-title, .product-size-title {
    font-size: 20px;
  }

  .empty-product-color-div {
    width: 55px;
    height: 55px;
  }

  .product-size {
    width: 90px;
  }
}


@media screen and (min-width: 350px) {
  .arrow1, .arrow2 {
    width: 45px;
    height: 45px;
    font-size: 38px;
  }

  .product-page-name {
    font-size: 34px;
  }

  .product-page-price {
    font-size: 26px;
  }

  .slider-dot {
    height: 9px;
    width: 9px;
  }

  .active-dot {
    height: 10.25px;
    width: 10.25px;
  }
}

@media screen and (min-width: 420px) {
  .slider-nav-buttons {
    width: 90vw;
  }

  .arrow1 {
    left: 0;
    top: -110px;
  }

  .arrow2 {
    right: 0;
    top: -110px;
  }

  .product-pick-color {
    width: 300px;
  }

  .pick-color-title, .product-size-title {
    font-size: 22px;
  }

  .empty-product-color-div {
    width: 65px;
    height: 65px;
  }

  .product-size {
    width: 120px;
    height: 36px;
    font-size: 18px;
  }

  .add-to-cart {
    width: 300px;
    height: 45px;
    font-size: 22px;
  }

  .item-added-p {
    left: calc(50% - 45px);
  }

  @keyframes addCartClicked {
    0% {
      background-color: black;
      position: absolute;
      border: none;
      z-index: -1;
      color: white;
      border-radius: 200px;
      width: 5px;
      height: 5px;
      opacity: 0.25;
    }
  
    100% {
      background-color: black;
      position: absolute;
      border: none;
      z-index: -1;
      color: white;
      border-radius: 200px;
      width: 320px;
      height: 320px;
      opacity: 1;
    }
  }
  
  @keyframes showItemAdded {
    0% {
      opacity: 0;
      top: -25;
    }
  
    100% {
      opacity: 1;
      top: -50px;
    }
  }
}

@media screen and (min-width: 500px) {
  .slide {
    height: 300px;
  }

  .slide > img {
    max-height: 250px;
    max-width: 350px;
  }

  .arrow1, .arrow2 {
    height: 50px;
    width: 50px;
    font-size: 40px;
    top: -155px;
  }

  .arrow1 {
    left: -15px;
  }

  .arrow2 {
    right: -15px;
  }

  .product-page-name {
    font-size: 38px;
  }

  .product-page-price {
    font-size: 30px;
  }

  .product-page-description {
    font-size: 17px;
  }

  .product-size {
    width: 145px;
  }
}

@media screen and (min-width: 600px) {
  .arrow1, .arrow2 {
    height: 60px;
    width: 60px;
    font-size: 50px;
  }

  .product-top-rating {
    display: flex;
  }

  .star-rating-div {
    margin-right: 12px;
  }

  .product-page-reviews {
    font-size: 14px;
  }

  .pick-color-title, .product-size-title {
    font-size: 26px;
  }

  .empty-product-color-div {
    height: 75px;
    width: 75px;
  }

  .product-size {
    width: 175px;
    height: 44px;
    font-size: 20px;
  }

  .add-to-cart {
    width: 375px;
    height: 55px;
    font-size: 24px;
  }
}

@media screen and (min-width: 700px) {
  .product-heart {
    height: 40px;
    width: 40px;
  }

  .slider-nav-buttons {
    width: 635px;
  }

  .arrow1 {
    left: 0;
  }

  .arrow2 {
    right: 0;
  }

  .product-info-left {
    width: 575px;
    margin-left: 24px;
  }

  .product-page-name {
    font-size: 45px;
  }

  .product-page-description {
    margin-left: 24px;
  }

  .product-pick-color {
    margin-left: 40px;
  }

  .product-size-title {
    margin-left: 40px;
  }

  .product-pick-size {
    margin-left: 40px;
  }

  .cart-btn-container {
    width: fit-content;
    margin: 0;
  }

  .add-to-cart {
    margin-left: 40px;
  }
}

@media screen and (min-width: 825px) {
  .product-page-description {
    width: 750px;
  }

  .product-size {
    width: 225px;
  }
}

@media screen and (min-width: 1000px) {
  .slide {
    height: 400px;
  }

  .slide > img {
    max-height: 400px;
    max-width: 500px;
  }

  .product-heart-container {
    width: 475px;
    margin-top: 25px;
  }

  .arrow1 {
    left: -50px;
    top: -225px;
  }

  .arrow2 {
    right: -50px;
    top: -225px;
  }

  .product-display-info {
    display: flex;
    width: 100vw;
    margin: 0;
    justify-content: space-around;
  }

  .product-info-left {
    width: 45%;
  }

  .product-page-description {
    width: 45%;
    margin-left: 0;
  }

  .product-page-name {
    font-size: 38px;   
  }

  .product-pick-color {
    width: 355px;
    margin-left: 112px;
  }

  .pick-color-title, .product-size-title {
    font-size: 26px;
  }

  .empty-product-color-div {
    height: 80px;
    width: 80px;
  }

  .product-size-title {
    margin-left: 112px;
    margin-top: 104px;
  }

  .product-pick-size {
    margin-left: 112px;
  }

  .product-size {
    height: 42px;
    width: 255px;
    font-size: 22px;
  }

  .cart-btn-container {
    margin-left: 112px;
    width: 325px;
    margin-top: 54px;
  }

  .add-to-cart {
    height: 54px;
    width: 355px;
    font-size: 26px;
    margin-left: 0;
  }

  .item-added-p {
    left: calc(50% - 57.5px);
  }

  @keyframes addCartClicked {
    0% {
      background-color: black;
      position: absolute;
      border: none;
      z-index: -1;
      color: white;
      border-radius: 200px;
      width: 5px;
      height: 5px;
      opacity: 0.25;
    }
  
    100% {
      background-color: black;
      position: absolute;
      border: none;
      z-index: -1;
      color: white;
      border-radius: 200px;
      width: 370px;
      height: 370px;
      opacity: 1;
    }
  }
  
  @keyframes showItemAdded {
    0% {
      opacity: 0;
      top: -25;
    }
  
    100% {
      opacity: 1;
      top: -50px;
    }
  }
}