.profile-container {
  position: fixed;
  background-color: white;
  border: none;
  border-bottom: none;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow-y: scroll;
  scrollbar-gutter: none;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.15), -1px -1px 1px rgba(0, 0, 0, 0.15);
}

.profile-container::-webkit-scrollbar-track {
  background-color: #e0e0e0;
  padding: 2px 0;
}

.profile-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgb(116, 116, 116);
}

.profile-wrapper {
  position: relative;
  position: fixed;
  bottom: 0;
}

.profile-top-sect {
  background: linear-gradient(130deg, lightgray, rgb(37, 37, 37));
  width: 100%;
  overflow: hidden;
  position: relative;
}

.profile-collage-img2 {
  position: absolute;
}

.profile-collage-img1 {
  position: absolute;
}

.profile-close-x {
  border: 1px solid black;
  margin: 0;
  position: absolute;
  cursor: pointer;
  z-index: 100;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.15s;
}

.profile-close-x:hover {
  background-color: black;
  color: white;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 74px;
}

.wave .shape-fill {
  fill: #FFFFFF;
}

.profile-heading {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 12px;
  font-weight: bold;
}

.profile-subhead {
  margin-top: 12px;
  margin-left: 12px;
  font-weight: 400;
  margin-bottom: 26px;
}

.profile-sign-up-p {
  margin-bottom: 12px;
  margin-left: 12px;
  font-weight: 600;
}

.quick-login-icons {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.signin-icons {
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  margin-top: 14px;
  cursor: pointer;
  transition: all 0.15s;
}

.signin-icons:hover {
  background-color: rgb(227, 227, 227);
  transform: scale(1.05);
}

.profile-input {
  padding-left: 12px;
  border: 1px solid black;
  border-radius: 2px;
}

.checkbox-div {
  display: flex;
  justify-content: left;
  margin-top: 12px;
  margin-left: 8px;
}

.checkbox {
  appearance: none;
  border: 1px solid black;
  cursor: pointer;
}

.checkbox:checked {
  --webkit-appearance: none;
  border: 1px solid black;
  cursor: pointer;
  background-image: url(../images+icons/checkmark.png);
  background-size: contain;
}

.checkbox + label {
  margin-left: 10px;
  padding-top: 2px;
}

.login-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  text-align: left;
  color: black;
  font-weight: 600;
  margin: auto;
  margin-top: 26px;
  padding-left: 12px;
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 2px 2px 2px rgba(0, 0 ,0, 0.4);
  transition: all 0.15s;
  cursor: pointer;
}

.login-btn:hover {
  color: white;
  background-color: black;
}

.continue-txt {
  text-decoration: underline;
}

.login-arrow {
  text-decoration: none;
  margin-bottom: 8px;
  margin: 0;
  margin-bottom: 8px;
}

.legal-txt {
  width: 90%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 24px;
}

@media screen and (min-width: 270px) {
  .profile-container {
    bottom: 0;
    width: 100vw;
    height: 70vh;
  }

  .profile-container::-webkit-scrollbar-track {
    background-color: rgb(174, 174, 174);
  }

  .profile-container::-webkit-scrollbar {
    width: 4px;
  }

  .profile-wrapper {
    bottom: 0;
    width: 100vw;
    height: 70vh;
  }

  .profile-top-sect {
    height: 300px;
  }

  .profile-collage-img1 {
    width: 150px;
    height: 150px;
    right: -5px;
    bottom: 73px;
    z-index: 1;
  }

  .profile-collage-img2 {
    width: 255px;
    height: 280px;
    left: -90px;
    bottom: 30px;
  }

  .profile-close-x {
    width: 30px;
    height: 50px;
    font-size: 30px;
    top: -25px;
    right: 15px;
  }

  .profile-heading {
    font-size: 32px;
  }

  .profile-subhead {
    font-size: 13px;
  }

  .profile-sign-up-p {
    font-size: 16px;
  }

  .signin-icons {
    width: 35px;
    height: 35px;
    padding: 10px;
  }

  .profile-input {
    height: 42px;
    width: 90%;
    margin-top: 26px;
    margin-left: 6px;
    font-size: 15px;
  }

  .checkbox {
    height: 20px;
    width: 20px;
    margin-left: 0;
  }

  .checkbox + label {
    font-size: 13px;
    margin: auto;
    margin-left: 8px;
  }

  .login-btn {
    height: 46px;
    width: 95%;
    font-size: 18px;
  }

  .login-arrow {
    font-size: 52px;
  }

  .legal-txt {
    font-size: 11px;
  }
}

@media screen and (min-width: 325px) {
  .profile-collage-img1 {
    width: 175px;
    height: 175px;
    right: -5px;
    bottom: 35px;
    z-index: 0;
  }

  .profile-heading {
    font-size: 32px;
  }

  .profile-subhead {
    font-size: 15px;
  }

  .profile-sign-up-p {
    font-size: 20px;
  }

  .checkbox + label {
    font-size: 14px;
  }
}

@media screen and (min-width: 370px) {
  .profile-collage-img2 {
    width: 215px;
    height: 280px;
    left: -20px;
  }

  .profile-collage-img1 {
    width: 215px;
    height: 215px;
  }

  .signin-icons {
    width: 40px;
    height: 40px;
    padding: 10px;
  }
}

@media screen and (min-width: 460px) {
  .profile-collage-img2 {
    width: 215px;
    height: 280px;
    left: 0px;
  }

  .profile-collage-img1 {
    right: 0;
    width: 215px;
    height: 215px;
  }

  .login-btn {
    height: 46px;
    width: 94%;
    font-size: 18px;
    margin-left: 6px;
  }
}

@media screen and (min-width: 560px) {
  .profile-collage-img1 {
    right: 0;
    width: 245px;
    height: 245px;
    bottom: -10px;
  }

  .profile-heading {
    font-size: 36px;
  }

  .profile-subhead {
    font-size: 15px;
  }

  .profile-sign-up-p {
    font-size: 20px;
  }
}

@media screen and (min-width: 685px) {
  .profile-container {
    right: calc(50% - 325px);
    bottom: 0;
    width: 650px;
    height: 75vh;
  }

  .profile-container::-webkit-scrollbar {
    width: 8px;
  }

  .profile-wrapper {
    width: 650px;
    height: 75vh;
    right: calc(50% - 325px);
  }

  .profile-top-sect {
    height: 400px;
  }

  .profile-collage-img1 {
    width: 350px;
    height: 375px;
    top: 0;
    left: -50px;
  }

  .profile-collage-img2 {
    left: auto;
    right: 50px;
    bottom: 20px;
    width: 250px;
    height: 250px;
  }

  .profile-close-x {
    width: 30px;
    height: 50px;
    font-size: 30px;
    top: -25px;
    right: -15px;
  }

  .profile-heading {
    font-size: 36px;
  }

  .profile-subhead {
    font-size: 15px;
  }

  .profile-sign-up-p {
    font-size: 20px;
  }

  .profile-input {
    height: 42px;
    width: 90%;
    margin-top: 36px;
    margin-left: 12px;
    font-size: 15px;
  }

  .profile-input:last-child {
    margin-top: 18px;
  }

  .checkbox {
    height: 22px;
    width: 22px;
  }

  .login-btn {
    height: 46px;
    width: 90%;
    font-size: 18px;
  }

  .login-arrow {
    font-size: 52px;
  }

  .legal-txt {
    font-size: 12px;
  }
}