.review-section {
  border: 2px solid black;
  border-radius: 5px;
  margin: auto;
  margin-top: 45px;
  padding: 8px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.20);
  margin-bottom: 26px;
}

.review-sect-heading {
  margin-top: 12px;
  margin-bottom: 12px;
}

.rating-bar-head {
  margin: 0;
  font-weight: bold;
  margin-top: 8px;
}

.bar-and-percentage {
  display: flex;
  align-items: center;
}

.star-rating-bar {
  display: inline-block;
  border: 1px solid black;
  border-radius: 2px;
  background-image: linear-gradient(to right, rgb(255,164,28), rgb(255,164,28));
}

.bar-filled-percentage {
  display: inline-block;
  margin: 0;
  margin-left: 5px;
  font-weight: 500;
  color: blue;
}

.leave-review-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.leave-review-button {
  border: 2px solid black;
  border-radius: 2px;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.20);
  transition: all 0.15s;
}

.leave-review-button:hover {
  background-color: black;
  color: white;
}

.reviews-container {
  max-height: 2025px;
  overflow-y: scroll;
  margin-top: 34px;
}

.reviews-container::-webkit-scrollbar {
  display: none;
}

.review {
  border: none;
  margin: auto;
  border-radius: 2px;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);
  margin-top: 34px;
  background-color: rgb(232, 232, 232);
  padding: 12px;
  display: grid;
}

.review:first-child{
  margin-top: 0;
}

.top-reviewer-div {
  display: flex;
  align-items: center;
}

.reviewer-initial {
  margin: 0;
  border: none;
  border-radius: 100px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.reviewer-title {
  font-weight: 600;
  margin: 0;
  margin-left: 24px;
}

.reviewer-info {
  margin: 0;
  font-weight: 600;
}

.upvote-btn, .downvote-btn {
  border: 1px solid black;
  border-radius: 2px;
  text-align: center;
  margin-right: 8px;
  color: white;
  cursor: pointer;
}

.upvote-btn {
  background-color: green;
}

.downvote-btn {
  background-color: red;
}

.upvote-count, .downvote-count {
  display: inline-block;
  margin-right: 12px;
  font-weight: 600;
  margin-bottom: 0;
  text-align: left;
}

.upvote-count {
  color: green;
}

.downvote-count {
  color: red;
}

.show-more {
  text-align: center;
  margin: 0;
  margin-top: 22px;
  margin-bottom: 12px;
  cursor: pointer;
}

.no-reviews {
  text-align: center;
  margin-top: 45px;
}

@media screen and (min-width: 270px) {
  .top-review-sect-div {
    display: grid;
  }

  .review-sect-heading {
    text-align: center;
    font-size: 26px;
  }

  .star-rating-bar {
    height: 25px;
    width: 80%;
  }

  .leave-review-title {
    text-align: left;
    font-size: 20px;
  }

  .leave-review-div {
    margin-top: 15px;
    align-items: start;
  }

  .leave-review-button {
    height: 34px;
    width: 150px;
  }

  .reviewer-title {
    font-size: 20px;
  }

  .reviewer-initial {
    height: 35px;
    width: 35px;
  }

  .reviewer-info {
    font-size: 12px;
  }

  .upvote-btn, .downvote-btn {
    height: 35px;
    width: 35px;
    font-size: 20px;
  }
}

@media screen and (min-width: 400px) {
  .review-sect-heading {
    font-size: 32px;
  }

  .rating-bar-head, .star-rating-bar {
    margin-left: 12px;
  }

  .star-rating-bar {
    max-width: 325px;
    height: 32px;
  }

  .leave-review-title {
    margin-left: 12px;
  }

  .leave-review-button {
    margin-left: 12px;
  }
}


@media screen and (min-width: 1000px) {
  .review-section {
    width: 80vw;
  }

  .top-review-sect-div {
    display: flex;
    justify-content: space-around;
  }

  .review-sect-heading {
    font-size: 34px;
  }

  .rating-bar-head {
    font-size: 16px;
  }

  .bar-and-percentage {
    height: 45px;
  }

  .bar-filled-percentage {
    font-size: 14px;
  }

  .leave-review-div {
    align-items: end;
    width: 400px;
  }

  .leave-review-title {
    font-size: 26px;
    text-align: end;
  }

  .leave-review-button {
    height: 38px;
    width: 275px;
    font-size: 16px;
  }

  .review {
    height: 275px;
    width: 85%;
  }

  .top-reviewer-div {
    height: 50px;
  }

  .reviewer-initial {
    font-size: 26px;
    height: 45px;
    width: 45px;
  }

  .reviewer-title {
    font-size: 20px;
  }

  .reviewer-info {
    font-size: 13px;
  }

  .reviewer-text {
    font-size: 20px;
  }

  .upvote-btn, .downvote-btn {
    height: 45px;
    width: 65px;
    font-size: 30px;
  }

  .upvote-count, .downvote-count {
    width: 35px;
  }

  .show-more {
    font-size: 18px;
  }

  .no-reviews {
    font-size: 45px;
  }
}