.shopping-hero {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  background-position: center;
}

.shopping-hero-title {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  border-radius: 200px;
  text-align: center;
  color: white;
  justify-content: center;
  margin: auto;
}

.shop-item-link {
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.shopping-hero-desc {
  text-align: center;
  margin: auto;
}

.shopping-hero-explore {
  text-align: center;
}

.showcase-product-div {
  position: relative;
  margin: auto;
}

.showcase-img {
  border-top: 1px solid black;
  display: block;
  margin: auto;
}

.heart-img {
  position: absolute;
  z-index: 10;
  top: 6px;
  cursor: pointer;
  background-color: transparent;
  padding: 4px;
  right: 4px;
  background-image: url(../images+icons/heart.png);
  background-position: center;
  background-size: 95%;
  background-repeat: no-repeat;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.product-name {
  text-align: center;
  margin: 0;
  width: fit-content;
  font-weight: 600;
}

.price-type {
  text-align: center;
  margin: 0;
  width: fit-content;
}

.view-product {
  background-color: black;
  color: white;
  border-radius: 300px;
  border: 2px solid transparent;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.15s;
}

.view-product:hover {
  color: black;
  background-color: white;
  border-color: black;
}

@media screen and (min-width: 270px) {
  .shopping-hero {
    height: 380px;
  }

  .shopping-hero-title {
    width: 95%;
    font-size: 28px;
    height: 100px;
  }

  .shopping-hero-desc {
    width: 95vw;
    font-size: 16px;
    margin-top: 25px;
  }

  .shopping-hero-explore {
    font-size: 22px;
    margin-top: 22px;
  }

  .showcase-product-div {
    margin-top: 32px;
    margin-bottom: 22px;
    width: 260px;
  }

  .showcase-img {
    padding-top: 28px;
    height: 210px;
    width: 260px;
  }

  .heart-img {
    width: 30px;
    height: 30px;
  }

  .product-name {
    margin-bottom: 10px;
  }

  .price-type {
    font-size: 12px;
    margin-bottom: 8px;
  }

  .view-product {
    width: 75%;
    height: 28px;
  }
}

@media screen and (min-width: 335px) {
  .shopping-hero-title {
    width: 95%;
    font-size: 32px;
    height: 125px;
  }

  .shopping-hero-explore {
    font-size: 26px;
  }
}

@media screen and (min-width: 415px) {
  .shopping-hero-title {
    font-size: 38px;
  }

  .shopping-hero-explore {
    font-size: 32px;
  }

  .showcase-product-div {
    width: 375px
  }

  .showcase-img {
    width: 375px;
  }

  .product-name {
    margin-top: 8px;
    font-size: 18px;
  }

  .price-type {
    font-size: 14px;
  }

  .view-product {
    height: 34px;
    font-size: 16px;
  }
}

@media screen and (min-width: 650px) {
  .shopping-hero-title {
    max-width: 700px;
    font-size: 45px;
  }

  .shopping-hero-desc {
    width: 75vw;
    font-size: 18px;
    margin-top: 45px;
  }

  .shopping-hero-explore {
    font-size: 36px;
  }

  .showcase-product-div {
    width: 550px;
  }

  .showcase-img {
    width: 550px;
    height: 250px;
  }

  .product-name {
    font-size: 20px;
  }

  .price-type {
    font-size: 15px;
  }
}

@media screen and (min-width: 900px) {
  .shopping-hero {
    height: 500px;
  }

  .shopping-hero-title {
    font-size: 54px;
    width: 700px;
    height: 250px;
  }

  .shopping-hero-desc {
    font-size: 20px;
  }

  .shopping-hero-explore {
    font-size: 42px;
    margin-top: 54px;
  }

  .showcase-product-div {
    margin-top: 42px;
    width: 600px;
  }

  .showcase-img {
    padding-top: 32px;
    width: 600px;
    height: 268px;
  }

  .heart-img {
    width: 30px;
    height: 30px;
  }

  .product-name {
    margin: 0;
  }

  .price-type {
    margin-top: 12px;
    margin-bottom: 0;
  }

  .view-product {
    margin-bottom: 36px;
    height: 38px;
    margin-top: 16px;
  }
}